*{
    margin: 0;
    padding: 0;
}
:root{
    --bg: #bbdefb;
    --button: #ff1d8e;
}
body{
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 500px;
    height: 55vh;
    margin: 0;
    background-color: #ffffff;
    display: block;
    align-items: center;
    box-shadow: 5px 5px 10px 2px rgb(red, green, blue);
}
button{
    padding: 12px 10px 10px 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
    background-color: var(--button);
}
h1{
    margin: -35px 0 0 8px;
    color: white;
}
p{
    margin: 5px;
}
img{
    max-width: 100%;
}